{
    "env": {
        "es6": true,
        "node": false
    },
    "extends": "standard",
    "parserOptions": {
        "sourceType": "script"
    },
    "rules": {
        "no-unused-vars": "off",
        "no-undef": "off",
        "object-shorthand": "off"
    },
    "globals": {
        "$FluidHelper": "readonly",
        "$Registries": "readonly",
        "$Integer": "readonly",
        "$IngotPileBlock": "readonly",
        "StartupEvents": "readonly",
        "ClientEvents": "readonly",
        "ServerEvents": "readonly",
        "LevelEvents": "readonly",
        "WorldgenEvents": "readonly",
        "NetworkEvents": "readonly",
        "ItemEvents": "readonly",
        "BlockEvents": "readonly",
        "EntityEvents": "readonly",
        "PlayerEvents": "readonly",
        "global": "readonly",
        "Platform": "readonly",
        "console": "readonly",
        "JavaMath": "readonly",
        "ResourceLocation": "readonly",
        "Duration": "readonly",
        "Utils": "readonly",
        "Java": "readonly",
        "Text": "readonly",
        "Component": "readonly",
        "UUID": "readonly",
        "JsonIO": "readonly",
        "Block": "readonly",
        "Blocks": "readonly",
        "Item": "readonly",
        "Items": "readonly",
        "Ingredient": "readonly",
        "IngredientHelper": "readonly",
        "NBT": "readonly",
        "NBTIO": "readonly",
        "Direction": "readonly",
        "Facing": "readonly",
        "AABB": "readonly",
        "Stats": "readonly",
        "FluidAmounts": "readonly",
        "Notification": "readonly",
        "InputItem": "readonly",
        "OutputItem": "readonly",
        "Fluid": "readonly",
        "SECOND": "readonly",
        "MINUTE": "readonly",
        "HOUR": "readonly",
        "Color": "readonly",
        "BlockStatePredicate": "readonly",
        "Vec3d": "readonly",
        "Vec3i": "readonly",
        "Vec3f": "readonly",
        "Vec4f": "readonly",
        "Matrix3f": "readonly",
        "Matrix4f": "readonly",
        "Quaternionf": "readonly",
        "RotationAxis": "readonly",
        "BlockPos": "readonly",
        "DamageSource": "readonly",
        "SoundType": "readonly",
        "BlockProperties": "readonly",
        "LootJS": "readonly",
        "MoreJSEvents": "readonly"
    }
}